!**/src/main/**/bin/
!**/src/main/**/build/
!**/src/main/**/out/
!**/src/test/**/bin/
!**/src/test/**/build/
!**/src/test/**/out/
!gradle/wrapper/gradle-wrapper.jar
.apt_generated
.build/
.classpath
.classpath
.cxx/
.DS_Store
.DS_Store
.externalNativeBuild/
.factorypath
.gradle
.gradle/
.idea/
.project
.rubygems/
.settings
.springBeans
.sts4-cache
.swiftpm/
.vs/
.vscode/
*.dll
*.hprof
*.iml
*.ipr
*.iws
*.xccheckout
*.xcscmblueprint
/.nb-gradle/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
bin/
build/
Carthage/
cmake-build-debug/
gradlew.bat
heapdump.*.phd
javacore.*.txt
obj/
out/
packages/
Pods/
target/
xcuserdata/
